body {
    background-color: #0A0A0A;
    background-image: url('../svg/fond_engranage.svg');
    background-size: cover;
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
img {
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.coin img {
    width: 100px;
    height: 100px;
}
.coin2 img {
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
}
.coin3 img {
    width: 100px;
    height: 100px;
    transform: rotate(-90deg);
}
.coin4 img {
    width: 100px;
    height: 100px;
    transform: rotate(180deg);
}
.logo {
    width: 35%;
    margin: auto;
}
.logo img {
    width: 100%;
    max-width: 200px;
}
#marseilleRue {
    width: 100%;
    height: 60vh;
    background-image: url('../images/monaje_calles.png');
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: mouvement 10s linear infinite;
}
#marseilleRue img {
    width: 200px;
    margin: auto;
    padding-top: 190px;
    display: block;
}
h2 {
    font-size: 5vmin;
    padding: 20px;
}
#voituresAnciennes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#voituresAnciennes div {
    width: 100%;
}
#voiture1 {
    padding-right: 40px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 200px;
}
#voiture2 {
    width: 100%;
    padding-right: 50px;
    padding-bottom: 10px;
    max-width: 200px;
}
#voiture3 {
    padding-left: 40px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 150px;
}
#voiture4 {
    padding-left: 30px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 200px;
}
#iconServices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#iconServices div {
    width: 30%;
}
.texteMovement {
    width: 70%;
    margin: auto;
    padding: 30px;
}
.texteMovement img {
    width: 100%;
    max-width: 350px;
}
p {
    font-size: 3.5vmin;
    padding: 5px;
}
#engranage {
  padding: 10px;
}
#eng1 {
    width: 20%;
    max-width: 200px;
}
#eng2 {
    width: 40%;
    max-width: 400px;
}
#eng3 {
    width: 30%;
    max-width: 300px;
    margin-bottom: 20px;
}
footer {
    padding: 10px;
}
#contact {
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.myBtn {
  width: 60px;
  height: 60px;
  margin: 20px;
}
.myBtn img {
  width: 100%;
}
#pied {
    display: flex;
    justify-content: space-between;
}
#iconSociaux {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#iconSociaux a {
    width: 30px;
    display: block;
    padding: 5px;
}
#iconSociaux img {
    width: 100%;
}
.hidden {
  opacity: 0;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* CSS GRAND ECRAN */

@media only screen and (min-width: 768px) {
  .logo {
    width: 10%;
  }
  #marseilleRue {
    height: 60vh;
    animation: mouvement 10s linear infinite;
}
  #marseilleRue img {
    width: 250px;
    padding-top: 190px;
  }
  #voituresAnciennes div {
    width: 40%;
  }
  #voiture1, #voiture2, #voiture3, #voiture4 {
    width: 80%;
    padding: 10px;
  }
  #engranage {
    width: 40%;
    margin: auto;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}

/* ANIMATIONS*/

@keyframes montrer {
    0% {opacity: 0;}
    25% {opacity: 25%;}
    50% {opacity: 50%;}
    75% {opacity: 75%;}
    100% {opacity: 100%;}
}
.montrer {
  -webkit-animation-name: montrer;
  animation-name: montrer;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
  
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  animation-delay: 3s;
}
  
@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
  
@keyframes mouvement {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0) rotate(-1deg);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0) rotate(1deg);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation: shake 2s infinite;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation: pulse 1s linear infinite;
  animation-name: pulse 1s linear infinite;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-duration: 1.5s;
}

@keyframes turnRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotation {
  animation: turnRight 3s infinite linear;
}

@keyframes turnLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

.rotation2 {
  animation: turnLeft 3s infinite linear;
}
