body {
    background-color: white;
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: black;
}

#couverture {
  background-image: url('../images/photo_partage_claire.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
}
#couverture img {
  -webkit-filter: drop-shadow(-3px -3px white);
  filter: drop-shadow(-3px -3px white);
  display: block;
  margin: 0 auto;
  padding-top: 30%;
}
h1 {
  text-align: center;
}
#sectionBlanc {
  background-color: #E6E7E8;
}
.logo {
  width: 50%;
  margin: auto;
}
#monstre {
  width: 30%;
  vertical-align: middle;
}
#sectionBlanc div {
  display: table;
  height: 100%;
}
#sectionBlanc span {
  display: table-cell;
  vertical-align: middle;
}
#sectionBlanc h3 {
  color: black;
  font-size: 7vmin;
  text-align: center;
  margin: 0;
}
#burger {
  width: 100%;
}
#fachade {
  width: 100%;
}
h2 {
    font-size: 7vmin;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
}
#recettes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F7931D;
}
.figure-img {
  background-image: url('../images/photo_sandwich.jpeg');
  background-size: cover;
  width: 100%;
  height: 60%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.figure-img1 {
  background-image: url('../images/photo_burger.jpg');
  background-size: cover;
  width: 100%;
  height: 60%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.figure-img2 {
  background-image: url('../images/photo_salade.jpeg');
  background-size: cover;
  width: 100%;
  height: 60%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.figure-img3 {
  background-image: url('../images/photo_dessert.jpeg');
  background-size: cover;
  width: 100%;
  height: 60%;
  margin-top: 20px;
  margin-bottom: 10px;
}
h3 {
  color: white;
  padding: 10px;
  margin: 0;
}
.especialites {
  background-color: white;
  width: 40%;
  height: 70%;
  margin: 10px;
}
#carte {
  width: 50%;
}
#iconServices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#iconServices div {
    width: 30%;
}
.texteMovement {
    margin: auto;
    padding: 10px;
}
.texteMovement img {
    width: 100%;
    max-width: 350px;
}
p {
    font-size: 3.5vmin;
    padding: 5px;
}
#sectionGris {
  background-color: #404041;
}
#sectionGris h2 {
  color: white;
}
#sectionOrange {
  background-color: #F7931D;
}
#sectionGrisClaire {
  background-color: #E6E7E8;
}
#livraison {
  padding: 10px;
}
#liv {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    display: block;
}
#appel {
  width: 40%;
  margin: auto;
}
#btn-appel {
  width: 100%;
}
footer {
    padding: 10px;
}
#contact {
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.myBtn {
  width: 60px;
  height: 60px;
  margin: 20px;
}
.myBtn img {
  width: 100%;
}
#pied {
    display: flex;
    justify-content: space-between;
}
#iconSociaux {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#iconSociaux a {
    width: 30px;
    display: block;
    padding: 5px;
}
#iconSociaux img {
    width: 100%;
}
.hidden {
  opacity: 0;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* CSS GRAND ECRAN */

@media only screen and (min-width: 768px) {
  .logo {
    width: 10%;
  }
  #marseilleRue {
    height: 60vh;
    animation: mouvement 10s linear infinite;
}
  #marseilleRue img {
    width: 250px;
    padding-top: 190px;
  }
  #recettes div {
    width: 40%;
  }
  #voiture1, #voiture2, #voiture3, #voiture4 {
    width: 80%;
    padding: 10px;
  }
  #livraison {
    width: 40%;
    margin: auto;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}

/* ANIMATIONS*/

@-webkit-keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@keyframes montrer {
    0% {opacity: 0;}
    25% {opacity: 25%;}
    50% {opacity: 50%;}
    75% {opacity: 75%;}
    100% {opacity: 100%;}
}
.montrer {
  -webkit-animation-name: montrer;
  animation-name: montrer;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
  
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  animation-delay: 3s;
}
  
@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
  
@keyframes mouvement {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0) rotate(-1deg);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0) rotate(1deg);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation: shake 2s infinite;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation: pulse 1s linear infinite;
  animation-name: pulse 1s linear infinite;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-duration: 1.5s;
}

@keyframes turnRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotation {
  animation: turnRight 3s infinite linear;
}

@keyframes turnLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

.rotation2 {
  animation: turnLeft 3s infinite linear;
}
